<!DOCTYPE html>
<html lang="en">
<meta charset = "UTF-8">
{# <link rel = "stylesheet" href = "style.css"/>  #}
** Base:   (base.html)<br>
** Header: (header.html)<br>
<head>
	{%  include 'base/header.html' %}
	{%  block header %}{% endblock header %}
</head>
** End Header<br>
<body>
<br>
<!--
** Sidebar:<br>
    <div id = "sidebar">
        {% block sidebar %}
	        <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/blog/">Blog</a></li>
            </ul>
        {% endblock %}
    </div>
** End Sidebar<br>
-->
** Content: ({{ view }})<br>
    <div id = "content">
        {% block content %}{% endblock %}
    </div>
** End Content<br>
<br>

</body>
<br>
<hr>
<br>
** Footer: (footer.html)<br>
{% include 'base/footer.html' %}
<br>
** End Footer

</html>